<launch>
  <arg name="model" default="$(find turtlebot_description)/urdf/turtlebot3_burger_zed.urdf.xacro"/>
  <arg name="multi_robot_name" default=""/>
  <arg name="use_rviz" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model) " />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <param name="rate" value="50"/>
  </node>

  <arg name="rvizconfig" default="$(find turtlebot_description)/rviz/burger_zed.rviz" />

  <node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz"   args="-d $(arg rvizconfig)"/>

</launch>
