<?xml version="1.0"?>

<launch>

    
    <arg name ="robot" default = "turtlebot"/>
    <group ns="$(arg robot)">

        <node pkg="turtlebot_bringup" type="turtlebot3_teleop_key.py" name="turtlebot3_teleop_keyboard"  output="screen">
        </node>
        <!-- <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch"> -->
            <!-- <remap from="/cmd_vel" to="$(arg robot)/cmd_vel"/> -->
        <!-- </include> -->
    </group>

</launch>